ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
body {
      background: linear-gradient(240deg,#00ff00,#00ffff,#0000ff)
    }

    .firsttable {
      background: linear-gradient(240deg, black, #8e44ad, #6633ff, blue);
      background-size: 400%;
      animation: animate 16s linear infinite;
      border-radius:30px
    }
   
    table,tr,td{border-radius:30px}
    @keyframes animate {
      0% {
        background-position: 0%;
      }

      100% {
        background-position: 400%;
        autoplay: autoplay;
      }
    }

    h3 {
      z-index: 10;
      color: orange;
      position: aboslute;
      top: 0
    }
img{
       border-radius:10px}
