* {
    box-sizing: border-box
  }
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  .align {
    position: absolute;
    left: 200px
  }

  body {
    font-family: Verdana, sans-serif;
  }

  .mySlides {
    display: none
  }



  /* 幻灯片容器 */
  .slideshow-container {
    max-width: 600px;
    height: 300px;

  }

  h3 {
    color: orange;
  }

  /* 下一张 & 上一张 按钮 */

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;

    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* 定位 "下一张" 按钮靠右 */


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* 标题文本 */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* 数字文本 (1/3 等) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 1px 12px;
    position: absolute;
    top: 27%;
  }

  /* 标记符号 */
  .dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;

    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* 淡出动画 */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
  .friend{color:#bbb}
  .friendlylink{position: absolute;
                left:700px;
                top:100px}


#glitcher span{font-size:90px;display:block;letter-spacing:8px;font-weight:bold;line-height:0}
#glitcher{
              position:absolute;
              bottom:20%;
              left:30%}
#glitcher span{color:#000000;animation:glitch1 4s infinite;animation-delay:4s}
#glitcher span:nth-child(2){color:#67f3da;animation:glitch2 4s infinite}
#glitcher span:nth-child(3){color:#f16f6f;animation:glitch3 4s infinite}
.noGlitch #glitcher span{animation:none;color:#555}
@keyframes glitch1{0%{transform:none;opacity:1}
7%{transform:skew(-0.5deg,-0.9deg);opacity:0.75}
10%{transform:none;opacity:1}
27%{transform:none;opacity:1}
30%{transform:skew(0.8deg,-0.1deg);opacity:0.75}
35%{transform:none;opacity:1}
52%{transform:none;opacity:1}
55%{transform:skew(-1deg,0.2deg);opacity:0.75}
50%{transform:none;opacity:1}
72%{transform:none;opacity:1}
75%{transform:skew(0.4deg,1deg);opacity:0.75}
80%{transform:none;opacity:1}
100%{transform:none;opacity:1}
}
@keyframes glitch2{0%{transform:none;opacity:0.25}
7%{transform:translate(-2px,-3px);opacity:0.5}
10%{transform:none;opacity:0.25}
27%{transform:none;opacity:0.25}
30%{transform:translate(-5px,-2px);opacity:0.5}
35%{transform:none;opacity:0.25}
52%{transform:none;opacity:0.25}
55%{transform:translate(-5px,-1px);opacity:0.5}
50%{transform:none;opacity:0.25}
72%{transform:none;opacity:0.25}
75%{transform:translate(-2px,-6px);opacity:0.5}
80%{transform:none;opacity:0.25}
100%{transform:none;opacity:0.25}
}
@keyframes glitch3{0%{transform:none;opacity:0.25}
7%{transform:translate(2px,3px);opacity:0.5}
10%{transform:none;opacity:0.25}
27%{transform:none;opacity:0.25}
30%{transform:translate(5px,2px);opacity:0.5}
35%{transform:none;opacity:0.25}
52%{transform:none;opacity:0.25}
55%{transform:translate(5px,1px);opacity:0.5}
50%{transform:none;opacity:0.25}
72%{transform:none;opacity:0.25}
75%{transform:translate(2px,6px);opacity:0.5}
80%{transform:none;opacity:0.25}
100%{transform:none;opacity:0.25}
}