.logo{
      border-radius: 50%;
      position: absolute;
      left: 120px;
      top: 75px;
}
.p1{
    color: rgb(34, 149, 250);
    font-size: 23px;
}
.time{
    color: orange;
}
.p2{
    color: rgb(170, 167, 5);
    font-size: 20px;
}