 body{overflow: hidden;
       margin: 0;
       padding: 0;
      }
/*定义轮播图长宽*/  
  .picture{
           min-width: 100%;
           height: 450px;    
  }
/*将手机端适配的下方模块隐藏*/
#blog1,#blog2,#bloglink{
             display:none}
  
    /* 幻灯片容器 */
    .slideshow-container {
      width: 100%;
      position: absolute;
      top:0;
      z-index: 0;
    } 

    
     /* 标记符号 */
  .dot {
    height: 6px;
    width: 35px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20px;
    display: inline-block;
  }

  /*将正在播放的符号变为深灰色*/
.active,.dot:hover {
    background-color: #717171;
  }

  /* 淡出动画 */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

/*列表整体样式*/  
ul{position: absolute;
    z-index: 3;
    top:70px;
    border-radius: 3px;
    list-style-type: none;/*把列表前面的点去掉*/
    margin: 0;
    padding: 0;
    width: 110px;
    background:linear-gradient(60deg,#f1f1f1,#b0b0b0,#f1f1f1);
    background-size:300%;
    animation:ul 10s infinite;
}

/*列表中的超链接样式*/
li a {
  z-index: 10;
    display: block;
    color: #000;
    padding: 18px 5px;
    text-decoration: none;/*去掉超链接下面的横线*/
    font-size: 22px;
}
 
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    color: white;
    text-decoration: underline;
}

/*列表的背景动画*/
	@keyframes ul{
   from{background-position:0%}
   to{background-position:100%}
   }

/*顶部魔宇工作室五个字的动画*/
#glitcher span{
               font-size:40px;
               display: block;
               font-weight:bold;
               letter-spacing:1px;
               line-height:0;
              }

#glitcher{z-index: 2;
          position:absolute;
          top:4%; 
          }

#glitcher span
              {color:#000000;animation:glitch1 6s infinite;
               animation-delay:8s
              }

#glitcher span:nth-child(2)
                           {color:#8e44ad;
                            animation:glitch2 6s infinite
                           }

#glitcher span:nth-child(3)
                          {color:dodgerblue;
                           animation:glitch3 6s infinite
                          }

@keyframes glitch1{
                   0%{transform:none;
                      opacity:1
                     }
                   7%{transform:skew(-0.5deg,-0.9deg);
                      opacity:0.75
                     }
                   10%{transform:none;
                       opacity:1
                       }
                   27%{transform:none;
                       opacity:1
                      }
                   30%{transform:skew(0.8deg,-0.1deg);
                       opacity:0.75
                      }
                   35%{transform:none;
                       opacity:1
                       }
                   52%{transform:none;
                       opacity:1
                      }
                   55%{transform:skew(-1deg,0.2deg);
                       opacity:0.75
                      }
                   50%{transform:none;
                       opacity:1
                      }
                   72%{transform:none;
                       opacity:1
                      }
                   75%{transform:skew(0.4deg,1deg);
                       opacity:0.75
                      }
                   80%{transform:none;
                       opacity:1
                      }
                   100%{transform:none;
                        opacity:1
                       }
                  }
@keyframes glitch2{
                   0%{transform:none;
                      opacity:0.25
                      }
                   7%{transform:translate(-2px,-3px);
                      opacity:0.5
                      }
                  10%{transform:none;
                      opacity:0.25
                     }
                  27%{transform:none;
                      opacity:0.25
                     }
                  30%{transform:translate(-5px,-2px);
                      opacity:0.5
                     }
                  35%{transform:none;
                      opacity:0.25
                     }
                  52%{transform:none;
                      opacity:0.25
                     }
                  55%{transform:translate(-5px,-1px);
                      opacity:0.5
                     }
                  50%{transform:none;
                      opacity:0.25
                     }
                  72%{transform:none;
                  opacity:0.25
                     }
                  90%{transform:translate(-2px,-6px);
                      opacity:0.5
                     }
                  100%{transform:none;
                       opacity:0.25
                      }
}
@keyframes glitch3{
                   0%{transform:none;
                      opacity:0.25
                     }
                   7%{transform:translate(2px,3px);
                      opacity:0.5
                     }
                   10%{transform:none;
                       opacity:0.25
                      }
                   27%{transform:none;
                       opacity:0.25
                      }
                   30%{transform:translate(5px,2px);
                       opacity:0.5
                      }
                   35%{transform:none;
                       opacity:0.25
                      }
                   52%{transform:none;
                       opacity:0.25
                      }
                   55%{transform:translate(5px,1px);
                       opacity:0.5
                      }
                   50%{transform:none;
                       opacity:0.25
                      }
                   90%{transform:translate(2px,6px);
                       opacity:0.5
                       }
                  100%{
                       transform:none;
                       opacity:0.25
                      }
                 }
/*轮播图上面的大标题*/
 .main{
       position: absolute;
       font-size: 50px;
       color: white;
       top:240px;
       left: 350px;
       z-index: 10;
       text-shadow: 5px 5px 3px #999;
       box-shadow: 0px 6px white;
 }                
/*电脑端下面灰色的div(史山)*/
.blog{
      background-color: gainsboro;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: -450px;
      z-index: 0;
      
}
/*kali模块*/
.blog1{
        position: relative;
        bottom: 22px;
        left: 160px;
        }
/*hacknet模块*/
.blog2{
        position: relative;
        bottom: 260px;
        right: -590px;
        }
/*kali和hacknet两个模块的文字*/
.blog1 p,.blog2 p{
         font-size: 20px;
         color: #4c0468;  
}
/*技术博客*/
.bloglink,#bloglink{
          position: absolute;
          left: 470px;
          font-size: 25px;
          color: transparent;
          background: linear-gradient(240deg,orange,red,orange);
          background-size: 300%;
          background-clip: text;
          -webkit-background-clip: text;
          text-decoration:underline;
          z-index: 4;
          animation:ul 6s infinite;
}
/*大屏电脑端适配*/
@media screen and (min-height: 900px) {
/*背景颜色代替灰色div(灰色div卡bug显示不出来,但是删掉会影响布局)*/
    body{background:gainsboro;}
   .picture{
          min-width: 100%;
           height: 650px;    
          position:absolute;
         z-index:0;
  }

.blog{
        top:650px;
        width:1000%;
}
.father-dot{
                 position:absolute;
                 top:657px;
}
ul{
    position:absolute;
    top:110px;
}
.main{
       position: absolute;
          top:360px;
          left:750px;
         font-size:60px;
}
}
/*手机端适配*/
@media screen and (min-height:2300px){
/*背景颜色代替灰色div*/
    body{background:gainsboro;}
/*隐藏下方灰色div(不隐藏会出bug)*/
    .blog{display:none;}
    .main{font-size:95px;
          left:0px;
          top:1100px;
          z-index:1000;
         letter-spacing:-10px}
    .picture{height:1800px;
              /*width:100%;*/
             }
     ul{width:250px;
       height:550px;
       top:300px;}
    li a{font-size:48px;
         line-height:80px;}
    #glitcher span{font-size:70px;
                  }
    #glitcher{position:absolute;
                   top:140px;}
   .dot{width:80px;
       height:12px;
       margin:10px;}
   .father-dot{
              position:absolute;
              top:1805px;}
  #blog1,#blog2,#bloglink
              {position:absolute;
                top:1900px;
           display:block;/*显示手机端适配下方模块*/
           font-size:30px
           }
     
#bloglink{left:530px;
	 font-size:35px;}
#blog2{left:800px;}
