.box{height:150px;
     width:150px;
     border-style:solid;
     border-color:gray;
     border-radius:20px;
     float:left;
     margin:5px;
     text-align:center;}
.box img{border-top-left-radius:10px;
              border-top-right-radius:10px;}
.box:hover{
          transform:translateY(10px);
          box-shadow:10px 10px 10px blue;
          animation:border 3s;
         border-color:dodgerblue;
}
@keyframes border{
                              from{border-color:gray;}
                              to{border-color:dodgerblue;}
}
.title{
      font-size:25px;
      font-style:italic;
      color:DodgerBlue;
      position:absolute;
      /*z-index:10;*/
      left:0;}
